




		<section class="all-articles">
            <ul class="no-list">

            	{% for post in site.categories.article %}	
					<li>
					    <a href="{{ post.url }}">
					        <img src="img/{{ post.front-image }}"/>
					        <div class="text">
					            <hgroup>
					                <h1>{{ post.title }}</h1>
					                <h2>{{ post.subtitle }}</h2>
					            </hgroup>
					            <p class="date"><time datetime="{{ post.time | date: '%Y-%m-%d' }}">{{ site.time | date: "%B %d %Y " }}</time></p>
					        </div>
					    </a>
					</li>
				{% endfor %}

            </ul>
        </section>


        {% include footer-link.html %}
