<section class="featured-events">
            <ul class="no-list">
                <li class="event_1">
                    <a href="">
                        <hgroup>
                            <h1>Bridges to Cross / Bridges to Burn: Mary Bernstein, Harriet Diamond, and Rebecca Muller</h1>
                            <h2>A.P.E. Ltd. Gallery</h2>
                        </hgroup>
                        <p class="date">November 9 – December 2, 2012</p>
                    </a>
                </li>
                <li class="event_2">
                    <a href="">
                        <hgroup>
                            <h1>Sound Wave Mural OPENING!</h1>
                            <h2>Public Art</h2>
                        </hgroup>
                        <p class="date">Saturday, November 3, 2012</p>
                    </a>
                </li>
                <li class="event_3">
                    <a href="">
                        <hgroup>
                            <h1>Recent Acquisitions</h1>
                            <h2>The University Museum of Contemporary Art</h2>
                        </hgroup>
                        <p class="date">November 15 – March 15, 2013</p>
                    </a>
                </li>
                <li class="event_4">
                    <a href="">
                        <hgroup>
                            <h1>Céleste Boursier-Mougenot Solo Exhibition</h1>
                            <h2>The University Museum of Contemporary Art</h2>
                        </hgroup>
                        <p class="date">October 4th through December 2nd, 2012</p>
                    </a>
                </li>
                <li class="event_5">
                    <a href="">
                        <hgroup>
                            <h1>Juan Amaya : Event w/ Ambient Music</h1>
                            <h2>Flying Object</h2>
                        </hgroup>
                        <p class="date">October 26 – November 18, 2012</p>
                    </a>
                </li>
                <li class="event_6">
                    <a href="">
                        <hgroup>
                            <h1>Curiosity</h1>
                            <h2>MASS MoCA</h2>
                        </hgroup>
                        <p class="date">Through May 28, 2013</p>
                    </a>
                </li>
                <li class="event_7">
                    <a href="">
                        <hgroup>
                            <h1>Invisible Cities</h1>
                            <h2>MASS MoCA</h2>
                        </hgroup>
                        <p class="date">through February 4, 2013</p>
                    </a>
                </li>
                <li class="event_8">
                    <a href="">
                        <hgroup>
                            <h1>Oh, Canada</h1>
                            <h2>MASS MoCA</h2>
                        </hgroup>
                        <p class="date">through April 8, 2013</p>
                    </a>
                </li>
            </ul>
        </section>