---
layout: default
category: article

title: The Encyclopedia 
subtitle: A Field Guide to Marcel Dzama's 'A Game of Chess'
front-image: chess-1.jpg
author: Bill Brown

what: Marcel Dzama's A Game of Chess in the exhibition, "Oh, Canada"
where: Mass MoCA
when: Now - April 8, 2013
website: http://www.massmoca.org/event_details.php?id=663
location-image: massmoca.jpg

---


<article id="chess">
    <div class="header-image"></div>

    <section class="boundary first-boundary">
        <div class="boundary-first-header"></div>
        <hgroup>
            <h1>{{ page.title }}</h1>
            <h2>{{ page.subtitle }}</h2>
            <p>By {{ page.author }}</p>
        </hgroup>
        <p>The following is the first edition of the unreviewed and incomplete compilation of Marcel Dzama’s film, <em>A Game of Chess</em>. The fourteen minute video depicts a game of chess brought to life through ballet. The full video is shown below and then the directory itself immediately thereafter.</p>
        <div class="videoWrapper"><iframe src="http://player.vimeo.com/video/35884866?badge=0" width="500" height="375" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
        <div class="columns">
            <div class="column-left-image">
                <img src="../../../../img/chess/multi-face_1.jpg" alt="multi-face"/>
            </div>
            <div class="column-right">
                <h2>Person with Multiple Faces</h2>
                <p><strong>A person with multiple faces</strong> is an individual who has more than one face on the same head.  Usually male, this person is often depicted as a god, villain or fantastical being of ambiguous morality. Each face  sometimes represents a different personality of the same individual.</p>
    
                <p>In Dzama’s <i>A Game of Chess</i> there is a tall, black caped figure wearing a four faced mask. This character  is the Black King, but is never actually seen playing on the board. As the leader of the black side, Dzama’s quad-face is perpetually wanting to annihilate pieces on the white side.</p>
            </div>
        </div>
        <ul class="across-4">
            <li>
                <img src="../../../../img/chess/multi-face_2.jpg" alt="multi-face"/>
                <p><b>Janus</b>, the roman god of beginnings and translations. He has one face looking toward the future and one toward the past.</p>
            </li>
            <li>
                <img src="../../../../img/chess/multi-face_3.jpg" alt="multi-face"/>
                <p><b>Man-E-Faces</b>, villain from the cartoon Masters of the Universe. He has three faces including a human, a monster and a robot.</p>
            </li>
            <li>
                <img src="../../../../img/chess/multi-face_4.jpg" alt="multi-face"/>
                <p><b>Brahma</b>, the four faced Hindu god of creation. Each head continually recites scripture.</p>
            </li>
            <li>
                <img src="../../../../img/chess/multi-face_5.jpg" alt="multi-face"/>
                <p><b>The Mayor of Halloween Town</b> from the movie <em>Nightmare Before Christmas</em>. He has one frowning face and one smiling face.</p>
            </li>
        </ul>
        <div class="columns">
                <h2>Chess Pieces Brought to Life</h2>
                <p><b>Chess pieces brought to life</b> occurs when normal chess pieces exist as moving animate beings, no longer pieces to be physically moved by the players. While the pieces seem to have the ability to think for themselves they still act within the rules of the game. When pieces come in contact with each other they will literally kill or destroy their opponents. Life-sized chess pieces brought to life is not to be confused with people playing chess with people dressed up as chess pieces, which usually happens as a display of wealth. </p>
        
                <p>In <i>A Game of Chess</i> the pieces exist in a psudo-alternate world. The sniper is the only character that can pass through between environments and is the only unmasked human figure in the chess world. The rules of the game are loosely followed but when pieces come in contact with each other players are literally stabbed, resulting in blood flow.</p>
        </div>
        
        <ul class="across-4">
            <li><img src="../../../../img/chess/life-sized_1.jpg" alt="multi-face"/>
                <p><b>The Human Chess Game from <i>Harry Potter</i></b>. Life sized chess pieces are enchanted and and brought to life to guard the philosopher’s stone.<p>
                </li>
            <li><img src="../../../../img/chess/life-sized_2.jpg" alt="multi-face"/>
                <p><b>Battle Chess</b>, a video game version of chess in which the chess pieces come to life and battle one another when capturing.</p>
            </li>
            <li><img src="../../../../img/chess/life-sized_3.jpg" alt="multi-face"/>
                <p><b>Holochess</b>, a chess game from the movie <i>Starwars</i> that uses holographic representations of exotic aliens as the pieces.</p></li>
            <li><img src="../../../../img/chess/life-sized_4.jpg" alt="multi-face"/>
                <p><b>The final battle in Tim Burton’s <i>Alice in Wonderland</i></b> shows marching black and white chess pieces.</p>
            </li>
        </ul>
        
        <div class="columns">
            <div class="column-left-image">
                <img src="../../../../img/chess/polka.jpg" alt="multi-face"/>
            </div>
            <div class="column-right">        
                <h2>Full Body Polkadot Spandex</h2>
                <p><b>Full body Polkadot spandex</b> is a skin tight suit covered in dots. The suit completely covers the individual from head to toe including the individual’s face.</p>
        
                <p>In <i>A Game of Chess</i> the pawns all wear full body Polkadot spandex suits, one side with black suits and white dots and the other in the reverse. The pawns all move in unison and are reminiscent of synchronized swimmers wearing swim caps. The eyes of the suits are cut out and the head are all slightly elongated, perhaps because of the dancer’s hair pulled back into buns.</p>
            </div>
        </div>
        
        <ul class="across-4">
            <li><img src="../../../../img/chess/polka_1.jpg" alt="multi-face"/>
                <p><b>Clowns</b> often wear a red and yellow polka dot suit which only covers the body.</p>
            </li>
            <li><img src="../../../../img/chess/polka_2.jpg" alt="multi-face"/>
                <p><b>The Spot</b>, a comic book supervillain in theMarvel Comics universe and appearing as an enemy of Spider-Man and Daredevil.</p>
            </li>
            <li><img src="../../../../img/chess/polka_3.jpg" alt="multi-face"/>
                <p><b>Green Zentai suit</b>, a full body unmarked spandex suit. Popularized by Green Man in It’s Always Sunny in Philadelphia and two Vancouver Canucks fans.</p>
            </li>
            <li><img src="../../../../img/chess/polka_4.jpg" alt="multi-face"/>
                <p><b>50s/60s polka dot dresses</b> worn by Lucy in the show I love Lucy and Minnie Mouse.</p>
            </li>
        </ul>        
        
        <div class="columns">
                <h2>Dance Fighting</h2>
                <p><b>Dance Fighting</b> is the combination of dance and fighting. Usually dance is used as a metaphor for close combat in a ballet or musical but sometimes dancing is part of a real combatants fighting style. In both dance and close combat the contestants must read and react to their partner’s moves.</p>
                
                <p>In Marcel Dzama’s <i>A Game of Chess</i> the chess game is brought to life as a dance performance, particularly ballet. An audience watches on as the pieces dance on the board and fight and kill each other as the game progresses. </p>
        </div>
        
        <ul class="across-4">
            <li><img src="../../../../img/chess/dance-fight_1.jpg" alt="multi-face"/>
                <p><b>Capoeira</b>, a brazilian martial art that combines dance and music. Sometimes referred to as “Break Dance Fighting” this style was popularized by Eddy Gordo, a character from the video game Tekken.</p>
            </li>
            <li><img src="../../../../img/chess/dance-fight_2.jpg" alt="multi-face"/>
                <p><b>Dance Dance Revolution</b>, an arcade game where players compete on platforms and press big buttons with their feet.</p>
            </li>
            <li><img src="../../../../img/chess/dance-fight_3.jpg" alt="multi-face"/>
                <p><b><i>The Nutcracker</i></b>, a ballet where nutcracker’s come to life and battle rats.</p>
            </li>
            <li><img src="../../../../img/chess/dance-fight_4.jpg" alt="multi-face"/>
                <p><b>Moshing</b>, a style of dance where people push and shove into each other.</p>
            </li>
        </ul>

        <div class="columns">
            <div class="column-left-image">
                <img src="../../../../img/chess/sniper.jpg" alt="multi-face"/>
            </div>
            <div class="column-right">        
                <h2>Female Snipers</h2>
                <p><b>Female snipers</b> are markswomen skilled at shooting with great accuracy from long distances. The fast majority of military snipers are male.</p>
                
                <p>In Marcel Dzama’s <i>A Game of Chess</i> the main character, if there is one, would be the sniper and main pawn, both played by the same actress. This character kills the white pieces on the chess board and literally shoots and kills the chess player for the white side in the “real world.” </p>
            </div>
        </div>
        <ul class="across-4">
            <li><img src="../../../../img/chess/sniper_1.jpg" alt="multi-face"/>
                <p><b>Lyudmila Pavlichenko</b>, a soviet sniper during World War II. With 309 kills, she is regarded as the most successful female sniper in history.</p>
            </li>
            <li><img src="../../../../img/chess/sniper_2.jpg" alt="multi-face"/>
                <p><b>Annie Oakley</b>, an American sharpshooter and exhibition shooter. Oakley's amazing talent and timely rise to fame led to a starring role in Buffalo Bill's Wild West show.</p>
            </li>
            <li><img src="../../../../img/chess/sniper_3.jpg" alt="multi-face"/>
                <p><b>Mathilda</b>, an apprentice hitwoman played by Natalie Portman in the movie <i>Leon: The Professional</i>.</p>
                 </li>
            <li><img src="../../../../img/chess/sniper_4.jpg" alt="multi-face"/>
                <p><b>Katniss Everdeen</b>, a hunter from the book turned movie series “Hunger Games.”</p>
            </li>
        </ul>
        
        <div class="columns">
            <div class="column-left-image">
                <img src="../../../../img/chess/audience.jpg" alt="multi-face"/>
            </div>
            <div class="column-right">        
                <h2>Masked Audience</h2>
                <p>A masked audience is an audience whose faces are hidden and anonymoused. The audience then becomes a part of the performance or entertainment that they are watching. The masks are usually identical or very similar when the individual audience members are not characters in themselves.</p>
        
                <p>In Dzama’s <i>A Game of Chess</i> the audience is seen wearing round, smiling, cherub-like masks throughout the film. They are very dramatic in their reactions to the chess game, sometimes ringing cowbells and shakers in their enthusiasm. The last scene of the film shows the masks being lifted from the audience only to reveal individuals completely covered in white sheets.</p>
            </div>
        </div>

        <ul class="across-4">        
            <li><img src="../../../../img/chess/audience_1.jpg" alt="multi-face"/>
                <p>In the film <b><i>Eyes Wide Shot</i></b>, people are seen at a party all wearing masks watching unmasked entertainers.</p>
            </li>
            <li><img src="../../../../img/chess/audience_2.jpg" alt="multi-face"/>
                <p><b>Statler and Waldorf</b>,  a pair of Muppet characters who heckle the rest of the cast from their balcony seats.</p>
            </li>
            <li><img src="../../../../img/chess/audience_3.jpg" alt="multi-face"/>
                <p><b><i>Mystery Science Theater</i></b>, a tv series that features a man and his robot sidekicks who provide a running commentary on B-list sci-fi movies.</p>
            </li>
            <li><img src="../../../../img/chess/audience_4.jpg" alt="multi-face"/>
                <p><b>Sleep No More</b>, a site-specific play by theatre company Punchdrunk. Audience members are instructed to remain silent and masked at all times.</p>
            </li>
        </ul>
        
        
        <p>Thus concludes the 1st addition encyclopedia of Marcel Dzama’s <i>A Game of Chess</i>. Future addendums will be included in the 2nd addition to come out in the coming years.</p>
        
        
        {% include venue.html %}
        {% include footer-link.html %}


    </section>
    
</article>
