---
layout: default
category: article

title: Loveland
subtitle: Short Story inspired by Charles Stankievech’s 'Loveland' Installation at Mass MoCA’s Oh Canada exhibition
front-image: loveland.jpg
author: Jessie Vogel

what: Charles Stankievech’s 'Loveland' in the exhibition Oh, Canada
where: Mass MoCA
when: Now - April 8, 2013
website: http://www.massmoca.org/event_details.php?id=663
location-image: massmoca.jpg

---



<article id="loveland">
    <div class="header-image"></div>

    <section class="boundary first-boundary">
        <div class="boundary-first-header"></div>
        <hgroup>
            <h1>{{ page.title }}</h1>
            <h2>{{ page.subtitle }}</h2>
            <p>By {{ page.author }}</p>
        </hgroup>
        <p> It is 1979 and Troy Baker is 40 years old. In 1952, Troy Baker was 13 years old and read <em>The Purple Cloud</em> written in 1901 by M. P. Shiel. Troy Baker is the third child of Bob and Tina Baker. At 13 Troy Baker was significantly closer to his older sister, Susan Baker, than he was to the “middle child” Baker. Home was situated on lands that were tropical and vibrant and fruitful but in one respect a loveless land. Many strands of Bakers, not just those of Bob and Tina Baker, inhabited this loveless land. The most destructive feuds over property are, of course, family feuds. It was a loveless land, except for a brother who loves a sister and a sister who loves something else.</p>
        <div class="middle-full-image"><img src="../../../../img/loveland/loveland_5.jpg"/></div>
        <div class="columns">
            <div class="column-right-image">
                <img src="../../../../img/loveland/loveland_3.jpg"/>
                <img src="../../../../img/loveland/loveland_6.jpg"/>
            </div>
            <div class="column-left">
                        <p>Do all Homeo Sapiens have a natural compulsion to love gemstones? Susan Baker did. She had 160 stones that were precious and gems. Compulsion to collect objects is to maintain control and has the convenient tendency to minimize human interaction. As it happens, the same year Troy Baker read <em>The Purple Cloud</em>, Susan Baker also died. Troy Baker has Susan Baker’s ultraviolet emerald that he took out of her room in 1951. Death is a transfer of energy. Troy Baker is not a collector. He both hates and cherishes the ultraviolet emerald.</p>
                <p>In 1979, Troy Baker is 40 years old and on a Canadian research submarine surrounded by the deep waters of the Arctic. Ice blue, then blinding white, as they reemerge through the frozen surface. The shell cracking was rude and very satisfying. Troy followed one man out. It was the color of Italian ice, the color of a stadium bulb, the color of punches to the head. It was loud and unlike many on the expedition, Troy Baker loved this land.</p>
            </div>
        </div>
                   <p>Troy Baker is ambivalent about the other men in his crew. “I did not care. Instinctively, deftly, brutishly, I harnessed ten of them to my sledge; put on Canadian snow shoes; and was away northward--alone”*. The other men hated Troy Baker and Troy Baker thought that was fine. It was not surprising nor completely unpleasant news to others aboard the Canadian Research Submarine, that Troy Baker disappeared, but absence in any form is inherently doleful. </p>        

        <q class="pull-quote">Death is a transfer of energy. Troy Baker is not a collector.</q>

        <p>Do all Homio Sapiens envy the experience of true suffering? Troy Baker is the third and last child of Bob and Tina Baker. Troy Baker left his men, his job, and his ship because he is not a collector. He is here in this Loveland, where it is not tropical and vibrant and fruitful. Troy Baker is alone with his sister, alone with <em>The Purple Cloud</em>, alone in the dark with an ultraviolet emerald. </p>
                <p>*<em>The Purple Cloud</em> M.P Sheil page 68</p>

                   <div class="videoWrapper"><iframe src="http://player.vimeo.com/video/33299460?badge=0" width="400" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>

{% include venue.html %}
{% include footer-link.html %}


    </section>
    
</article>
